
@{
    ViewBag.Title = "Fight";
}

<h2>@ViewBag.Output</h2>

<div style="display: flex; justify-content:space-between;">

    @foreach (var poke in ViewBag.pl)
    {
        <div>
            <h2>@poke.Name</h2>
            <img src="@poke.ImageURL" />
            <p>Hit Points: @poke.Hp</p>
            <p>Attack: @poke.Attack</p>
            <p>Defense: @poke.Defense</p>
            <p>Special Attack: @poke.SpecialAttack</p>
            <p>Special Defense: @poke.SpecialDefense</p>
            <p>Speed: @poke.Speed</p>
            <p>Type 1: @poke.Type1</p>
            <p>Fainted: @poke.Fainted</p>
            <br />
        </div>
    }
</div>

<form action="fight" method="get">
    <input type="submit" value="FIGHT!" />
</form>

