
<h1>SearchByNumber</h1>

<h2>@ViewBag.name #@ViewBag.Num</h2>

<img width="200px" src="@ViewBag.ImgSrc" />

<h3>@ViewBag.Type1</h3>
<h3>@ViewBag.Type2</h3>

<h3>HP</h3>
<h3>@ViewBag.Hp</h3>

<h3>Attack</h3>
<h3>@ViewBag.Attack</h3>

<h3>Defense</h3>
<h3>@ViewBag.Defense</h3>

<h3>Special Attack</h3>
<h3>@ViewBag.SpecialAttack </h3>

<h3>Special Defense</h3>
<h3>@ViewBag.SpecialDef </h3>

<h3>Speed:</h3>
<h3>@ViewBag.Speed</h3>